.home {
  margin: auto;
  margin-top: 50px;
  text-align: center;
  line-height: 1.4;
}

.home__title {
  font-size: 3.6rem;
  margin-bottom: 40px;
}

.home__subtitle {
  font-size: 2rem;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .home {
    margin-top: 80px;
  }

  .home__title {
    font-size: 4.5rem;
  }
  
  .home__subtitle {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
}
