.identity {
  background-color: var(--accent-grey);
  padding: 30px 0;
}

.button {
  color: white;
  background-color: var(--primary);
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.button:hover {
  background-color: var(--primary-dark);
}

.button--green {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #35b135;
  padding: 15px 25px;
  border: none;
  margin-top: 30px;
  font-size: 2rem;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.button--green:hover {
  background-color: #168f16;
}

.button__icon--white {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.identity__intro {
  font-size: 2rem;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.identity-container {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}

.identity-card__title {
  font-size: 2.8rem;
  background-color: var(--primary);
  color: white;
  padding: 25px 20px;
  width: 100%;
}

.identity-card {
  width: 80%;
  margin: auto;
}

.identity-block {
  padding: 30px 20px;
  text-align: center;
}

.identity-block:nth-child(odd) {
  background-color: var(--primary-dark);
  color: white;
  margin-top: 25px;
}

.identity-block:last-child {
  border-bottom: none;
}

.identity-card__row {
  margin-top: 20px;
  font-size: 1.4rem;
}

.identity-card__image {
  margin-top: 5px;
  width: 70vw;
  max-width: 400px;
  border-radius: 3%;
}

.--no-underline {
  text-decoration: none;
  padding: 40px 0px;
}

@media only screen and (min-width: 768px) {  
  .identity__intro {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {  
  .identity {
    padding: 80px 0;
  }

  .identity-card__row {
    font-size: 1.8rem;
  }

  .identity__intro {
    font-size: 2.5rem;
  }

  .button {
    font-size: 2rem;
    padding: 15px 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .identity__intro {
    font-size: 3rem;
    margin-bottom: 40px;
    margin-bottom: 20px;
  }
}